
button:hover {
    opacity: 0.8;
  }

:root {
    --web-view-ids: n_01;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#n_01 {

    position: relative;
    width: 360px;
    height: 780px;
    margin:54px auto;
    background-color: rgba(243,243,243,1);
    overflow: hidden;
    --web-view-name: 로그인-01;
    --web-view-id: n_01;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}


#ID input{
    opacity: 0.5;
    left: 8px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 280px;
    height: 30px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    background-color: rgba(243,243,243,1);
    text-align: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(29,34,38,1);
}
#Password input{
    opacity: 0.5;
    left: 8px;
    top: 187px;
    position: absolute;
    overflow: visible;
    width: 280px;
    height: 30px;
    background-color: rgba(243,243,243,1);
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(29,34,38,1);
}
#LOGIN button{
    left: 0px;
    top: 295.452px;
    position: absolute;
    overflow: visible;
    width: 295.514px;
    height: 50.548px;
    white-space: nowrap;
    text-align: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
    position: absolute;
    overflow: visible;
    border-radius:5px;

    background-color: rgba(237,27,36,1);
}
button {
    
    color: white;


    border: none;
    cursor: pointer;
    width: 100%;
    
  }
#n_10 {
    fill: rgba(237,27,36,1);
}
.n_10 {
    position: absolute;
    overflow: visible;
    width: 295.514px;
    height: 50.548px;
    left: 0px;
    top: 295.452px;
}








#magenta_guidelines {
    position: absolute;
    width: 360px;
    height: 708px;
    left: 0px;
    top: 24px;
    display: none;
    overflow: visible;
}
#magenta_guidelines_3 {
    position: absolute;
    width: 21.5px;
    height: 568px;
    left: 338.5px;
    top: 0px;
    overflow: visible;
}
#short_vertical_line {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.short_vertical_line {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 24px;
    left: 21px;
    top: 282.5px;
    transform: matrix(1,0,0,1,0,0);
}
#n_6 {
    left: 7px;
    top: 279px;
    position: absolute;
    overflow: visible;
    width: 12px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(255,64,129,1);
}
#horizontal_line {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.horizontal_line {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 1px;
    left: 5.5px;
    top: 294px;
    transform: matrix(1,0,0,1,0,0);
}
#long_vertical_line {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.long_vertical_line {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 568px;
    left: 5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#triangle {
    fill: rgba(255,64,129,1);
}
.triangle {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 10px;
    left: 0px;
    top: 251px;
    transform: matrix(1,0,0,1,0,0);
}
#magenta_guidelines_2 {
    position: absolute;
    width: 37.5px;
    height: 568px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#triangle_y {
    fill: rgba(255,64,129,1);
}
.triangle_y {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 10px;
    left: 32.5px;
    top: 251px;
    transform: matrix(1,0,0,1,0,0);
}
#long_vertical_line_z {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.long_vertical_line_z {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 568px;
    left: 32.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#horizontal_line_ {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.horizontal_line_ {
    overflow: visible;
    position: absolute;
    width: 32px;
    height: 1px;
    left: 0px;
    top: 359.5px;
    transform: matrix(1,0,0,1,0,0);
}
#short_vertical_line_ {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.short_vertical_line_ {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 24.5px;
    left: 0.5px;
    top: 348px;
    transform: matrix(1,0,0,1,0,0);
}
#magenta_guidelines_1 {
    position: absolute;
    width: 21.5px;
    height: 705.127px;
    left: 0px;
    top: 2.873px;
    overflow: visible;
}
#triangle_ {
    fill: rgba(255,64,129,1);
}
.triangle_ {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 10px;
    left: 16.5px;
    top: 248.127px;
    transform: matrix(1,0,0,1,0,0);
}
#long_vertical_line_ {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.long_vertical_line_ {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 705.127px;
    left: 16.667px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#n_6_ {
    left: 2.5px;
    top: 277.127px;
    position: absolute;
    overflow: visible;
    width: 12px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(255,64,129,1);
}
#horizontal_line_ba {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.horizontal_line_ba {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 1px;
    left: 0px;
    top: 292.127px;
    transform: matrix(1,0,0,1,0,0);
}
#short_vertical_line_ba {
    fill: transparent;
    stroke: rgba(255,64,129,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.short_vertical_line_ba {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 24px;
    left: 0.5px;
    top: 279.627px;
    transform: matrix(1,0,0,1,0,0);
}

#n_ {
    left: 111px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.25px;
}
#sign-in- {
    position: absolute;
    width: 104px;
    height: 106px;
    left: 128px;
    top: 60px;
    overflow: visible;
}
#Circle_1 {
    fill: rgba(119,119,119,1);
}
.Circle_1 {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.149));
    position: absolute;
    overflow: visible;
    width: 51.53px;
    height: 51.822px;
    left: 34.012px;
    top: 20.087px;
}
#Rectangle_1 {
    fill: rgba(119,119,119,1);
}
.Rectangle_1 {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.149));
    position: absolute;
    overflow: visible;
    width: 77.241px;
    height: 61.634px;
    left: 21.162px;
    top: 59.366px;
}
#Rectangle_2 {
    fill: rgba(0,0,0,0);
    stroke: rgba(119,119,119,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    shape-rendering: auto;
}
.Rectangle_2 {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.149));
    position: absolute;
    overflow: visible;
    width: 129px;
    height: 128.625px;
    left: 0px;
    top: 0px;
}
#Style_1_ON {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 214px;
    top: 447px;
    overflow: visible;
}
#n_19 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#n_11 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_11 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#baseline-check-24px {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    overflow: visible;
}
#n_1 {
    fill: transparent;
}
.n_1 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#n_2 {
    fill: rgba(0,0,0,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_2 {
    overflow: visible;
    position: absolute;
    width: 12.238px;
    height: 9.908px;
    left: 2.745px;
    top: 3.972px;
    transform: matrix(1,0,0,1,0,0);
}
#n__bk {
    left: 233px;
    top: 447px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,1);
    letter-spacing: -0.25px;
}
#n_12 {
    position: absolute;
    width: 296px;
    height: 346px;
    left: 32px;
    top: 196px;
    overflow: visible;
}


#Welcome {
    left: 84px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(29,34,38,1);
}
#n_4 {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_4 {
    overflow: visible;
    position: absolute;
    width: 295.514px;
    height: 1px;
    left: 0.486px;
    top: 220.577px;
    transform: matrix(1,0,0,1,0,0);
}

#n_5 {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_5 {
    overflow: visible;
    position: absolute;
    width: 295.514px;
    height: 1px;
    left: 0.486px;
    top: 152.149px;
    transform: matrix(1,0,0,1,0,0);
}
#Please_login_to_your_account {
    opacity: 0.6;
    left: 26px;
    top: 46px;
    position: absolute;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(29,34,38,1);
}

