html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothic.eot');
    src: url('fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), url('fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex
    justify-content: center; 
    align-items: center; 
    margin:0;
    background: #f8f7f5;
    font-family: 'NanumGothic', sans-serif;
    color: #888888;
    width: 100%
    
}

#mobile {
    height: 100%;
    width: 100%;
    background: #c6c4c1;
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#mobileBodyContent {
    background: #f8f7f5;   /*  #f8f7f5;  */
    float: center;
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: visible;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#contentHead {
    height: 60px;
    width: 100%;
    background: #eae8e5;
    font-weight: bold;
    color: #4b4b4b;
}




#logo {
    /* border: 2px solid #f85051; */
    height: 25px;
    width: 35px;
    box-sizing: border-box;
    position: absolute;
    z-index: 30;
    left: 40px;
    top: 15px;
    float: left;
    text-align: center;
    line-height:25px;
    background-image: url('img/lotte_logo.png');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
}
#pagetitle {
    /* border: 2px solid #f85051; */
    border: 2px solid blue;
    height: 25px;
    width: 200px;    
    box-sizing: border-box;
    position: absolute;
    z-index: 30;
    top: 15px;
    cursor: pointer;
    float: center;
    text-align: center;
    line-height:25px;
}

#image {
    height: 280px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 0;
}

#image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#bodytitle {
    height: 20px;
    width: 200px;
    margin: 40px auto;
    background: #eae8e5;
    text-align: center;
}

#text .item {
    height: 20px;
    width: calc(100% - 40px);
    margin: 20px auto;
    background: #eae8e5;
}

#burgerBtn {
    float: right;
    border-top: 2px solid #f85051;
    height: 25px;
    width: 30px;
    box-sizing: border-box;
    z-index: 30;
    right 10px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


#back {
    border: solid blue;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    float: left;
    z-index: 30;
    left: 5px;
    top: 15px;
    cursor: pointer;
    border-inline: none;
    background: none;
    line-height:25px;
}
#back::before{
    content: "";
    display: block;
    position: absolute;
    height: 1.5px;
    background: #f85051;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -khtml-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    width: 18px;
    left: -1px;
    top: 3.5px;
    
}
#back::after{
    content: "";
    display: block;
    position: absolute;
    height: 1.5px;
    background: #f85051;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -khtml-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 18px;
    left: -1px;
    top: 14px;
    
}


#burgerBtn::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    right: 0;
    background: #f85051;
    top: 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#burgerBtn::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    right: 0;
    background: #f85051;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#navabove {
    z-index: 10;
    height: 60px;
    width: 200px;
    position: absolute;
    background: #eae8e5;
    list-style-type: none;
    margin: 0 0 0 375px;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav {
    position: absolute;
    z-index: 10;
    list-style-type: none;
    margin: 30px 0 0 150px;
    padding: 0;
    overflow: hidden;    

}

#nav li {
    height: 30px;
    width: 100px;
    margin-top: 50px;
    margin-left: 100px;
    background: #eae8e5;
    display: block;
    text-align: center;
    cursor: pointer;
    letter-spacing: -10px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -khtml-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

#nav li+li {
    width: 60px;
    margin-left: 140px;
}

#nav li+li+li {
    width: 40px;
    margin-left: 160px;
}

#nav li+li+li+li {
    width: 20px;
    margin-left: 180px;
}

.navigation #nav li {
    width: 200px;
    margin-left: 0px;
    letter-spacing: 0;
}

.navigation #burgerBtn {
    border-color: transparent;
}

.navigation #burgerBtn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 33px;
    left: -2px;
}

.navigation #burgerBtn::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 11px;
    width: 33px;
    left: -2px;
}

.navigation #mobileBodyContent {
    margin-left: -250px;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
}
.navigation #navabove {
    margin-left: 125px;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
}
